.top-nav {    
    background-color: rgb(247, 255, 255);
}

.core {
    background-color: rgb(247, 255, 255);
}

.content {
    background-color: rgb(247, 255, 255);
}

.sidebar {
    background-color: rgb(247, 255, 255);
}

.side-nav {
    background-color: rgb(247, 255, 255);
}